<h1>Pirate</h1>

<h2>Name: <%= @pirate.name %></h2><br>
    Weight: <%= @pirate.weight %>lbs<br>
    Height: <%= @pirate.height %>inches<br></h2>

<h1>Ships</h1>
    <% @ships.each_with_index do |ship, index| %>
    Ship <%=index+1%><br>
    <%= ship.name %><br> 
    <%= ship.type %><br>
    <%= ship.booty %><br>
    <% end %><br>



